<div>
  <%= link_to new_room_path, do %>
    Create a room
  <% end %>
</div>

<% if @rooms.present? %>
  <nav class="nav">
    <% @rooms.each do |room| %>
      <%= link_to room.name, room_path(room), class: 'nav-link' %>
    <% end %>
  </nav>
<% else %>
  <div class="">
    There are no rooms
  </div>
<% end %>
