.avatar {
max-height:30px;
border-radius: 15px;
width:auto;
vertical-align:middle;
}


.chat-message-container {
  padding: 5px;


  // .message-content {
  //   padding: 5px;

  //   border-radius: 5px;
  //   background: lighten(grey, 30%);
  //   color: black;
  // }

  & + .chat-message-container {
    margin-top: 10px;
  }
}