// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avatar {
  position: relative;
}
.chat {

  height: 50vh;
  // border-radius: 5px 5px 0 0;
  overflow-y: auto;

  border: solid 1px #EEE;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.messages {
  margin-top: 30px;
  display: flex;
  flex-direction: column;

}

.message {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.mine {
  align-items: flex-end;
}

.mine .message {
  color: white;
  margin-left: 25%;
  background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
  background-attachment: fixed;
  position: relative;
}

.yours {
  align-items: flex-start;
}

.yours .message {
  margin-right: 25%;
  background-color: #eee;
  position: relative;
}

.room-greeting {
  color: #ff5757;
}

 .room-header {
  color: #555555;
}


.chat-message-container {
  // padding: 5px;

  // .message-content {
  //   padding: 5px;

  //   border-radius: 5px;
  //   background: lighten(grey, 30%);
  //   color: black;
  // }

  // & + .chat-message-container {
  //   margin-top: 10px;
  // }
}


